<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js ui-mobile-rendering" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Marionette-Require-Boilerplate Lite</title>
    <meta name="description" content="Lightweight Marionette and Require.js Boilerplate Project">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">

    <link rel="stylesheet" type="text/css" href="css/app.css"/>

    <script type="text/javascript" src="js/bower_components/requirejs/require.js" data-main="js/app/Config/<%= _.capitalize(appName) %>.init.js"></script>


</head>
    <body>
        <div data-role="page" id="app"></div>
    </body>
</html>